<!DOCTYPE=html>
<html>
    <head>

    </head>
   
    <body>
         {{>header}}
        <h1>{{title}}</h1>
        <p>{{text}}</p>
    </body>
    <footer>
        Copyright {{cups}}
    </footer>
</html>